// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #00334E;
$yellow: #FFC65A;
$orange-alert: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F6F5F5;
$orange: #EE6F57;

