// Specific CSS for your home-page

.container {
  text-align: center;
}

.header {
  width: 80%;
  margin: 0 auto;
}

.text-align-left {
  text-align: left !important;
}

.table {
  font-size: 12px;
  text-align: right;
}

.main-container {
  display: flex;
}

body {
  font-family: "Varela";
}

.card a {
  color: #4EBA2D;
}

.btn-primary{
  color: white !important;
}

.search-result a {
  color: #2F4958;
}
