// Specific CSS for your home-page

.container {
  text-align: center;
}

.header {
  width: 80%;
  margin: 0 auto;
}

.text-align-left {
  text-align: left !important;
}

.table {
  font-size: 12px;
  text-align: right;
}

.main-container {
  display: flex;
}

body {
  font-family: "Varela";
}
