<div class="cards">
    <div class="card">
      <%= @tennis_courts.each do |t| %>
        <%= image_tag "tennis_hp.jpg", alt: "Tennis court image", class: "card-image-top" %>
        <div class="card-body">
          <h5 class="card-title"><strong><%= t.name %></strong></h5>
          <p class="card-text"><%= t.address %></p>
          <a href="#" class="btn btn-primary">Book now</a>
        </div>
      <% end %>
    </div>
  </div>
