<!DOCTYPE html>
<html>
<head>
  <title>Tennis Where</title>
</head>
<body>
  <div class="container">
    <h1> Tennis Where</h1>
    <h3>Find & Book your Tennis Court</h3>
    <div class="md-form md-outline input-with-post-icon datepicker">
      <input placeholder="Select date" type="date" id="example" class="form-control">
    </div>
  </div>
  <div class="container-cards">
    <div class="flex-container">
      <div class="card" id="tennis-card">
        <img class="card-img-top" src="..." alt="">
        <div class="card-body">
          <h5 class="card-title">Tennis 13</h5>
          <p class="card-text">foredmkd enj vro vo frpo por po pov rp vrpnrp pr p.</p>
          <a href="#" class="btn btn-primary">Book it!</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="">
        <div class="card-body">
          <h5 class="card-title">Tennis Montreal</h5>
          <p class="card-text">foredmkd enj vro vo frpo por po pov rp vrpnrp pr p.</p>
          <a href="#" class="btn btn-primary">Book it!</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="">
        <div class="card-body">
          <h5 class="card-title">Tennis Outremont</h5>
          <p class="card-text">foredmkd enj vro vo frpo por po pov rp vrpnrp pr p.</p>
          <a href="#" class="btn btn-primary">Book it!</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="">
        <div class="card-body">
          <h5 class="card-title">Tennis NDG</h5>
          <p class="card-text">foredmkd enj vro vo frpo por po pov rp vrpnrp pr p.</p>
          <a href="#" class="btn btn-primary">Book it!</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="">
        <div class="card-body">
          <h5 class="card-title">Tennis 13</h5>
          <p class="card-text">foredmkd enj vro vo frpo por po pov rp vrpnrp pr p.</p>
          <a href="#" class="btn btn-primary">Book it!</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="">
        <div class="card-body">
          <h5 class="card-title">Tennis Montreal</h5>
          <p class="card-text">foredmkd enj vro vo frpo por po pov rp vrpnrp pr p.</p>
          <a href="#" class="btn btn-primary">Book it!</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="">
        <div class="card-body">
          <h5 class="card-title">Tennis Outremont</h5>
          <p class="card-text">foredmkd enj vro vo frpo por po pov rp vrpnrp pr p.</p>
          <a href="#" class="btn btn-primary">Book it!</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="">
        <div class="card-body">
          <h5 class="card-title">Tennis NDG</h5>
          <p class="card-text">foredmkd enj vro vo frpo por po pov rp vrpnrp pr p.</p>
          <a href="#" class="btn btn-primary">Book it!</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
