<!DOCTYPE html>
<html>
<head>
  <title>Tennis Where</title>
</head>
<body>

  <%# SEARCHBAR %>
  <div class="container mb-4 mt-4">
    <h1>Tennis Where</h1>
    <h3>Find & Book your Tennis Court</h3>
    <div class="md-form md-outline input-with-post-icon datepicker">
      <input placeholder="Select date" type="date" id="example" class="form-control">
    </div>
  </div>

  <%= render 'cards' %>

</body>
</html>
