<div class="card mt-5">
  <div class="card-body">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-8 text-center">
            <h3 class="card-title">Select your slot:</h3>
            <div class="d-flex flex-wrap justify-content-center pt-4">
              <% @slots.each do |slot| %>
                <div class="slot">
                  <%= link_to new_tennis_court_booking_path(:start_time => slot, :date => @date) do %>
                    <%= slot %>h - <%= slot + 1 %>h
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

