<div class="footer mt-4">
  <div class="footer-copyright">
    <a href="#">About us</a>
    <span class="separator align-text-top ml-1 mr-1">.</span>
    <a href="#">Terms and conditions</a>
    <span class="separator align-text-top ml-1 mr-1">.</span>
    <a href="#">Privacy</a>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
