<div class="footer">
  <div class="footer-container container">
    <ul class="list-inline item">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a class="list-inline item" href="#"><i class="fab fa-twitter"></i></a>
    <a class="list-inline item" href="#"><i class="fab fa-linkedin"></i></a>
    </ul>
    <ul class="list-inline footer-copyright">
    <a class="list-inline item" href="#">About us</a>
    <a class="list-inline item" href="#">Terms</a>
    <a class="list-inline item" href="#">Privacy</a>
  </div>
</div>
