.card {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.stars > img {
  width: 24px;
  padding-bottom: 5px;
  padding-right: 2px;
}

.container-1{
  display: flex !important;
  margin-bottom: 12px !important;
  text-align: left;
}

.avatar-container-1 > img {
  display: block !important;
  position: relative !important;
  border-radius: 50%;
  width: 20%;
}

.user-name {
    text-align: left;
}



