.footer {
  background: #145374;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0,0,0,0.3);
  height: 150px;
  padding: 0px 50px;
  a {
    text-decoration: none;
  }
  a:hover {
    color: #f05f43;
  }
}

.footer-links a {
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
}

.separator {
  color: #ee6f57;
  font-size: 12px;
}
