.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
  }
  p {
    margin-bottom: 0;
  }
}

#map {
  height: 100vh;
  width: 50%;
  position: sticky;
  top: 0;
}
