.slot {
  background-color: #ED6E45;
  padding: 8px;
  width: 72px;
  border: 1px solid #dedede;
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.slot a {
  color: white;
  text-decoration: none;
}

.slot:hover{
  border: 1px solid $blue;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.mini-slot {
  color: white;
  width: 28px;
  margin-right: 4px;
  margin-bottom: 4px;
  text-align: center;
  font-size: 12px;
  padding: 2px;
}

.gray {
  color: white;
  background-color: gray;
}

.purple {
  color: white;
  background-color: #4EBA2D;
}

.purple:hover {
  text-decoration: underline;
}
