.slot {
  background-color: #15b168;
  padding: 40px;
  width: 180px;
  border: 1px solid #dedede;
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.slot a {
  color: white;
  text-decoration: none;
}

.slot:hover{
  border: 1px solid $blue;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
