<div class="submit-review">
  <%= simple_form_for([ @tennis_court, @review ], remote: true) do |f| %>
  <label for="review"><strong><h4>How was your experience?</h4></strong></label><br>
    <%= f.input :rating, prompt: "Please select", collection: [5,4,3,2,1], error: "Rating can't be blank" %>
    <%= f.input :content, label: "Message", placeholder:"(max 60 characters)" %>
    <%= f.submit "Submit", class: "btn btn-primary" %> <br><br>
 <% end %>
</div>
